//--------------------colors--------------------//
$mainfontcolor: lightgray;
$howercolor: gray;

//--------------------fonts--------------------//
$mainfont: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$secondaryfont: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

//--------------------sizes--------------------//
$container: 1170px;
